body {
    background: #0f0f0f;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px;
    background: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

pre {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    min-height: 150px;
}
